---
extends: default

ignore: |
  .tox
  changelogs/*

rules:
  comments:
    min-spaces-from-content: 1
  braces:
    max-spaces-inside: 1
    level: error
  brackets:
    max-spaces-inside: 1
    level: error
  line-length: disable
